h3(translate) Background

.form-line
    .header
        .title(translate) Enable background
        .description 
    toggle(
        [(ngModel)]='config.store.backgroundPlugin.backgroundEnabled',
        (ngModelChange)='apply();',
    )

.content-box(*ngIf='config.store.backgroundPlugin.backgroundEnabled === true')
    .form-line
        .header
            .title(translate) Background path
        .input-group.w-75
            input.form-control.background-input(
                type='text',
                [(ngModel)]='config.store.backgroundPlugin.backgroundPath',
                (ngModelChange)='apply();',
            )
            button.btn.btn-secondary((click)='pickFile()')
                i.fas.fa-folder-open

    .form-line
        .header
            .title(translate) Background opacity(%)
        input.form-control.font-size-input(
            type='number',
            min='0',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundOpacity',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title(translate) Background blur(px)
        input.form-control.font-size-input(
            type='number',
            min='0',
            max='100',
            step='0.1',
            [(ngModel)]='config.store.backgroundPlugin.backgroundBlur',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title(translate) Background brightness(%)
        input.form-control.font-size-input(
            type='number',
            min='0',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundBrightness',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title(translate) Background contrast(%)
        input.form-control.font-size-input(
            type='number',
            min='0',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundContrast',
            (ngModelChange)='apply();',
        )

h3(translate) UI Font
.form-line
    .header
        .title(translate) Enable UI font replace
        .description(translate) Do not affect the terminal font, the terminal font still uses the font in the [appearance] configuration
    toggle(
        [(ngModel)]='config.store.backgroundPlugin.uiFontEnabled',
        (ngModelChange)='apply();',
    )

.content-box(*ngIf='config.store.backgroundPlugin.uiFontEnabled === true')
    .form-line
        .header
            .title(translate) UI Font Family
        .input-group.w-75
            input.form-control.font-family-input(
                type='text',
                [(ngModel)]='config.store.backgroundPlugin.uiFontFamily',
                (ngModelChange)='apply();',
            )
            input.form-control.font-size-input(
                type='number',
                min='5',
                max='48',
                [(ngModel)]='config.store.backgroundPlugin.uiFontSize',
                (ngModelChange)='apply();',
            )


    .form-line
        .header
            .title(translate) Fix close button font
            .description(translate) After enable, restore the tab closing button to the default style
        toggle(
            [(ngModel)]='config.store.backgroundPlugin.uiFontTabBarCloseBtnFix',
            (ngModelChange)='apply();',
        )


h3(translate) Tabs
.form-line
    .header
        .title(translate) Enable Tabs parameter override
        .description(translate) 
    toggle(
        [(ngModel)]='config.store.backgroundPlugin.tabsOverrideEnabled',
        (ngModelChange)='apply();',
    )

.content-box(*ngIf='config.store.backgroundPlugin.tabsOverrideEnabled === true')
    .form-line
        .header
            .title(translate) Tabs dynamic width min(px)
        input.form-control(
            type='number',
            min='50',
            max='1000',
            [(ngModel)]='config.store.backgroundPlugin.tabsFlexMinWidth',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title(translate) Tabs fixed width(px)
        input.form-control(
            type='number',
            min='50',
            max='1000',
            [(ngModel)]='config.store.backgroundPlugin.tabsFixedWidth',
            (ngModelChange)='apply();',
        )