h3 背景

.form-line
    .header
        .title 是否启用背景图片
        .description 
    toggle(
        [(ngModel)]='config.store.backgroundPlugin.backgroundEnabled',
        (ngModelChange)='apply();',
    )

.content-box(*ngIf='config.store.backgroundPlugin.backgroundEnabled === true')
    .form-line
        .header
            .title 背景图片路径
        input.form-control.w-75(
            type='text',
            [(ngModel)]='config.store.backgroundPlugin.backgroundPath',
            (ngModelChange)='apply();',
        )

    .form-line
        .header
            .title 背景透明度(%))
        input.form-control.font-size-input(
            type='number',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundOpacity',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title 背景模糊度(px)
        input.form-control.font-size-input(
            type='number',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundBlur',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title 背景亮度(%)
        input.form-control.font-size-input(
            type='number',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundBrightness',
            (ngModelChange)='apply();',
        )
    .form-line
        .header
            .title 背景对比度(%)
        input.form-control.font-size-input(
            type='number',
            max='100',
            [(ngModel)]='config.store.backgroundPlugin.backgroundContrast',
            (ngModelChange)='apply();',
        )

//- .content-box

//-     .form-line
//-         .header
//-             .title 全局自定义CSS
//-     textarea.form-control.mb-5(
//-         [(ngModel)]='config.store.appearance.css',
//-     )

.form-line
    .header
        .title 是否启用界面字体替换
        .description 
    toggle(
        [(ngModel)]='config.store.backgroundPlugin.uiFontEnable',
        (ngModelChange)='apply();',
    )

.content-box(*ngIf='config.store.backgroundPlugin.uiFontEnable === true')
    .form-line
        .header
            .title 界面字体
        .input-group.w-75
           input.form-control(
               type='text',
               [(ngModel)]='config.store.backgroundPlugin.uiFontFamily',
               (ngModelChange)='apply();',
           )
           input.form-control.font-size-input(
               type='number',
               max='48',
               [(ngModel)]='config.store.backgroundPlugin.uiFontSize',
               (ngModelChange)='apply();',
           )
    

    .form-line
        .header
            .title 修复标签页关闭按钮字体
            .description 
        toggle(
            [(ngModel)]='config.store.backgroundPlugin.uiFontTabBarCloseBtnFix',
            (ngModelChange)='apply();',
        )